{
  "openapi": "3.0.1",
  "info": {
    "title": "EVO API",
    "description": "Use the DNS of your gym as the User and the Secret Key as the password.The authentication method used in the integration is Basic Authentication",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://evo-integracao-api.w12app.com.br"
    }
  ],
  "paths": {
    "/api/v2/accessControl/entryAuthorize": {
      "post": {
        "tags": [
          "AccessControl"
        ],
        "summary": "Post access control entry authorize",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/autorizaEntradaExternoViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/autorizaEntradaExternoViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/autorizaEntradaExternoViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/autorizaEntradaExternoViewModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/retornoAutorizaEntradaExternoViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/retornoAutorizaEntradaExternoViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/retornoAutorizaEntradaExternoViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/accessControl/insertManualLiberation": {
      "post": {
        "tags": [
          "AccessControl"
        ],
        "summary": "Post access control insert manual liberation",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LiberacaoCatracaManualViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiberacaoCatracaManualViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LiberacaoCatracaManualViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LiberacaoCatracaManualViewModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoEntradaManualViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoEntradaManualViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetornoEntradaManualViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/accessControl/turnstiles": {
      "get": {
        "tags": [
          "AccessControl"
        ],
        "summary": "Get access control turnstiles",
        "parameters": [
          {
            "name": "serialNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetornoCatracaViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetornoCatracaViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetornoCatracaViewModel"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "AccessControl"
        ],
        "summary": "Update access control serial number turnstiles",
        "parameters": [
          {
            "name": "idTurnstile",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "serialNumber",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activities",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter by activity name, group name or tags",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filber by membership IdBranch (Only available when using a multilocation key, ignored otherwise)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Total number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Total number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeListApiViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeListApiViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeListApiViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/schedule": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activities schedule",
        "description": "",
        "parameters": [
          {
            "name": "idMember",
            "in": "query",
            "description": "Filter by a member",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Limit the ammount of itens returned",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "onlyAvailables",
            "in": "query",
            "description": "Filter by activities that are available",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Filter by a specific date",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "showFullWeek",
            "in": "query",
            "description": "Show all activities in the week (Sunday to Saturday)",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filter by a different branch than the current one",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idActivities",
            "in": "query",
            "description": "Filter by a activities ids. Inform a comma separated list Ex.: \"1,2,3\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idAudiences",
            "in": "query",
            "description": "Filter by a audiences ids. Inform a comma separated list Ex.: \"1,2,3\"",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idBranchToken",
            "in": "query",
            "description": "Filter by a different branch than the current one",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EOrigemAgendamento"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaApiViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaApiViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaApiViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/schedule/detail": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activities schedule details",
        "parameters": [
          {
            "name": "idConfiguration",
            "in": "query",
            "description": "Activity IdConfiguration (Must be use combined with activityDate)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "activityDate",
            "in": "query",
            "description": "Activity schedule date (yyyy-MM-dd) (Must be use combined with idConfiguration)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "idActivitySession",
            "in": "query",
            "description": "Activity idActivitySession (This is mandatory if IdConfiguration and activityDate are null)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AtividadeBasicoApiViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtividadeBasicoApiViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AtividadeBasicoApiViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/schedule/enroll": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Enroll member in activity schedule",
        "parameters": [
          {
            "name": "idConfiguration",
            "in": "query",
            "description": "Activity IdConfiguration",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "activityDate",
            "in": "query",
            "description": "Activity schedule date (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "slotNumber",
            "in": "query",
            "description": "Slot number (only available in activites that allow spot booking)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "idMember",
            "in": "query",
            "description": "Id Member (this is required if IdProspect is null)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "description": "Id Member (this is required if IdMember is null)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "origin",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/EOrigemAgendamento"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/schedule/enroll/change-status": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Change status of a member in activity schedule",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "New status to be setted (Types: Attending = 0, Absent = 1, Justified absence = 2)",
            "schema": {
              "$ref": "#/components/schemas/EStatusAtividadeSessao"
            }
          },
          {
            "name": "idMember",
            "in": "query",
            "description": "Id Member",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "description": "Id Prospect",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idConfiguration",
            "in": "query",
            "description": "Activity IdConfiguration - only used when idActivitySession is null)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "activityDate",
            "in": "query",
            "description": "Activity schedule date (yyyy-MM-dd) - only used when idActivitySession is null)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "idActivitySession",
            "in": "query",
            "description": "IdActivity Session",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "description": "Optional. Filter by a branch",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/activities/schedule/experimental-class": {
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Create a new experimental class and enroll the member on it",
        "parameters": [
          {
            "name": "idProspect",
            "in": "query",
            "description": "IdProspect of who will participate from class",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "activityDate",
            "in": "query",
            "description": "Activity schedule date and time (yyyy-MM-dd HH:mm)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "activity",
            "in": "query",
            "description": "Activity name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "service",
            "in": "query",
            "description": "Service that will be sold to allow the trial class",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activityExist",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idActivity",
            "in": "query",
            "description": "Optional. Specific activity ID to use for the experimental class. When provided, the system will use this existing activity instead of creating or searching by name",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idService",
            "in": "query",
            "description": "Optional. Specific service ID to use for the experimental class. When provided, the system will use this existing service instead of creating or searching by name",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentalClassResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentalClassResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExperimentalClassResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/list-unavailable-spots": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "List of spots that are already filled in the activity session",
        "parameters": [
          {
            "name": "idConfiguration",
            "in": "query",
            "description": "Activity IdConfiguration",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Activity schedule date (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UnavailableSpotsResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnavailableSpotsResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnavailableSpotsResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/schedule/by-service-or-membership": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activities schedule by idService or idMembership",
        "parameters": [
          {
            "name": "idService",
            "in": "query",
            "description": "Filter by a service (required if idMembership not informed)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idMembership",
            "in": "query",
            "description": "Filter by a membership (required if idService not informed)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date of the query (required)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date of the query (optional).\r\nIf not provided, defaults to startDate + 7 days.\r\nAlways limited to a maximum of 7 days from the startDate.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "description": "Optional. Filter by a branch",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idActivities",
            "in": "query",
            "description": "Optional. Filter by one or more activity ids (comma separated list)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "allowEnrollment",
            "in": "query",
            "description": "Optional. Filter all future schedules, returning only the activities/schedules that have available slots.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaApiCustomViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaApiCustomViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaApiCustomViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/enrollment": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get activities enrollment by member or membership",
        "parameters": [
          {
            "name": "idMember",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idMemberMemberShip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaApiViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaApiViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaApiViewModel"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Activities"
        ],
        "summary": "Create a new enrollment for a member",
        "parameters": [
          {
            "name": "idMember",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idMemberMemberShip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "IdEmployee",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MatricularApiViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MatricularApiViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MatricularApiViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MatricularApiViewModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Activities"
        ],
        "summary": "Delete enrollment",
        "parameters": [
          {
            "name": "idMember",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idEmployee",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idConfigurationParticipation",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/activities/enrollment/member-enrollment": {
      "get": {
        "tags": [
          "Activities"
        ],
        "summary": "Get enrollment details for a member",
        "parameters": [
          {
            "name": "idMember",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by a status. Inform a comma separated list Ex.: \"1 - Active, 2 - Inactive \"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MatriculaDetalhesApiViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatriculaDetalhesApiViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MatriculaDetalhesApiViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/appointments/activities": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get activities",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter by activity name, group name or tags",
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filter by membership IdBranch (Only available when using a multilocation key, ignored otherwise)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Total number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Total number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaListApiViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaListApiViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeAgendaListApiViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/appointments/schedule/detail": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Retrieves detailed information about scheduled appointment sessions",
        "parameters": [
          {
            "name": "idMember",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idEmployee",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idActivitySession",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "startActivityDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endActivityDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeSessaoAgendaViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeSessaoAgendaViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AtividadeSessaoAgendaViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/appointment/blocked": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get blocked appointments",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Start date of the query (required) (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "End date of the query (required) (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BloqueioAgendaApiViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BloqueioAgendaApiViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BloqueioAgendaApiViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/appointment/activities-available": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get available activities for appointment",
        "parameters": [
          {
            "name": "idMember",
            "in": "query",
            "description": "Id Member",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "description": "Id Prospect",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idEmployee",
            "in": "query",
            "description": "Id Employee",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": { }
              },
              "application/json": {
                "schema": { }
              },
              "text/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/appointment/availability": {
      "get": {
        "tags": [
          "Appointments"
        ],
        "summary": "Get the available times for appointment",
        "parameters": [
          {
            "name": "idActivity",
            "in": "query",
            "description": "Id Activity (required)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "activityDate",
            "in": "query",
            "description": "Activity Date (required) (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filter by membership IdBranch (Only available when using a multilocation key, ignored otherwise)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idMember",
            "in": "query",
            "description": "Id Member",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "description": "Id Prospect",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idEmployee",
            "in": "query",
            "description": "Id Employee",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProfessor",
            "in": "query",
            "description": "Id Professor",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idArea",
            "in": "query",
            "description": "Id Area",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": { }
              },
              "application/json": {
                "schema": { }
              },
              "text/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/appointment/enroll/change-status": {
      "patch": {
        "tags": [
          "Appointments"
        ],
        "summary": "Change status of a member in a appointment",
        "parameters": [
          {
            "name": "idActivitySession",
            "in": "query",
            "description": "IdActivity Session",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "subStatus",
            "in": "query",
            "description": "New SubStatus to be setted (Types: Scheduled = 0, Confirmed = 1, Present = 2, Absent = 3, Justified Absence = 7)",
            "schema": {
              "$ref": "#/components/schemas/ESubStatusApi"
            }
          },
          {
            "name": "idMember",
            "in": "query",
            "description": "Id Member",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "description": "Id Prospect",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idEmployee",
            "in": "query",
            "description": "Id Employee",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filter by membership IdBranch (Only available when using a multilocation key, ignored otherwise)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/appointment/enroll": {
      "post": {
        "tags": [
          "Appointments"
        ],
        "summary": "Enroll member in activity appointment",
        "parameters": [
          {
            "name": "idActivity",
            "in": "query",
            "description": "Id Activity",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "activityDate",
            "in": "query",
            "description": "Activity appointment date (yyyy-MM-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "hour",
            "in": "query",
            "description": "Activity appointment hour (HH:mm)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idArea",
            "in": "query",
            "description": "Id Area",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idMember",
            "in": "query",
            "description": "Id Member (this is required if IdProspect or IdEmployee is null)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "description": "Id Member (this is required if IdMember or IdEmployee is null)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idEmployee",
            "in": "query",
            "description": "Id Member (this is required if IdMember or idProspect is null)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProfessor",
            "in": "query",
            "description": "Id Professor",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filter by membership IdBranch (Only available when using a multilocation key, ignored otherwise)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/bank-accounts": {
      "get": {
        "tags": [
          "BankAccounts"
        ],
        "summary": "Get bank accounts",
        "parameters": [
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filter by branch Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountsViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountsViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccountsViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/carts/{idCartToken}": {
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "Get cart by idCartToken",
        "parameters": [
          {
            "name": "idCartToken",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CartViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/carts": {
      "get": {
        "tags": [
          "Carts"
        ],
        "summary": "Get cart by idMember or idProspect",
        "parameters": [
          {
            "name": "idMember",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CartViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Carts"
        ],
        "summary": "Add new cart",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CartViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CartViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CartViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CartViewModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CartIdViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartIdViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartIdViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/carts/forfeit": {
      "patch": {
        "tags": [
          "Carts"
        ],
        "summary": "Forfeit cart",
        "parameters": [
          {
            "name": "idCartToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/threads": {
      "get": {
        "tags": [
          "Configuracao"
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/configuration": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get branch configurations",
        "parameters": [
          {
            "name": "idBranch",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ConfiguracaoApiViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfiguracaoApiViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfiguracaoApiViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/configuration/gateway": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get gateway configurations",
        "parameters": [
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filter by membership IdBranch (Only available when using a multilocation key, ignored otherwise)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BranchGatewayViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchGatewayViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchGatewayViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/configuration/gateway-form-token": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get gateway form token",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idCliente",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filter by membership IdBranch (Only available when using a multilocation key, ignored otherwise)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/configuration/card-flags": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get card flag",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BandeirasBasicoViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BandeirasBasicoViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BandeirasBasicoViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/configuration/card-translation": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get card translation",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CardTranslationViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTranslationViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTranslationViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/configuration/occupation": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Get occupation",
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmpresasFiliaisOcupacaoViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmpresasFiliaisOcupacaoViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EmpresasFiliaisOcupacaoViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/employees": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Get employees",
        "parameters": [
          {
            "name": "idEmployee",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Total number of records to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Total number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuncionariosResumoApiViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuncionariosResumoApiViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FuncionariosResumoApiViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/employees": {
      "put": {
        "tags": [
          "Employees"
        ],
        "summary": "Add employees",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeApiIntegracaoViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeApiIntegracaoViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeApiIntegracaoViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeApiIntegracaoViewModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Employees"
        ],
        "summary": "Update employees",
        "parameters": [
          {
            "name": "deletePermissions",
            "in": "query",
            "description": "Boolean (true or false). Defaults to false.  \r\nWhen set to true, deletes any existing permissions assigned to the specified collaborator.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "overwritePermissions",
            "in": "query",
            "description": "Boolean (true or false). Defaults to false.  \r\nWhen set to true, replaces all existing permissions with those provided in the permission array.  \r\nWhen false, the new permissions are added incrementally to the existing ones.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "updatePermissionsOnly",
            "in": "query",
            "description": "Boolean (true or false). Defaults to false.  \r\nWhen set to true, only the employee's permissions are updated, without changing any other employee information.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeApiIntegracaoAtualizacaoViewModel"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeApiIntegracaoAtualizacaoViewModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeApiIntegracaoAtualizacaoViewModel"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/EmployeeApiIntegracaoAtualizacaoViewModel"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Employees"
        ],
        "summary": "Delete employees",
        "parameters": [
          {
            "name": "idEmployee",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DefaultResponseViewModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/employees/permissions": {
      "get": {
        "tags": [
          "Employees"
        ],
        "summary": "Retrieves employee permissions.",
        "parameters": [
          {
            "name": "idBranch",
            "in": "query",
            "description": "Filter by IdBranch",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "permissionName",
            "in": "query",
            "description": "Filter by permission name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by permission status, 0 = active, 1 = inactive.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "take",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/entries": {
      "get": {
        "tags": [
          "Entries"
        ],
        "summary": "Get entries",
        "parameters": [
          {
            "name": "registerDateStart",
            "in": "query",
            "description": "DateTime date start",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "registerDateEnd",
            "in": "query",
            "description": "DateTime date end",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Total number of records to return. (Maximum of 1000)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Total number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "IdEntry",
            "in": "query",
            "description": "ID of the entry to return.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "idMember",
            "in": "query",
            "description": "ID of the member to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idProspect",
            "in": "query",
            "description": "ID of the prospect to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "idEmployee",
            "in": "query",
            "description": "ID of the employee to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/HttpResponseError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntradasResumoApiViewModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntradasResumoApiViewModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EntradasResumoApiViewModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/invoices/get-invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "Get invoices by date",
        "parameters": [
          {
            "name": "issueDateStart",
            "in": "query",
            "description": "Filter by the invoice issuance that starts on a date (yyyy-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "issueDateEnd",
            "in": "query",
            "description": "Filter by the invoice issuance that ends on a date (yyyy-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "competencyDateStart",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "competencyDateEnd",
            "in": "query",
            "description": "Filter by the invoice competency that ends on a date (yyyy-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sendDateStart",
            "in": "query",
            "description": "Filter by the invoice sending that starts on a date (yyyy-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "sendDateEnd",
            "in": "query",
            "description": "Filter by the invoice sending that ends on a date (yyyy-mm-dd)",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Total number of records to return. (Maximum of 250)",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 25
            }
          },
          {
            "name": "skip",
            "in": "query",
            "description": "Total number of records to skip.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "idMember",
            "in": "query",
            "description": "Filter by a member Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "statusInvoice",
            "in": "query",
            "description": "Filter by a comma separated list of status invoice. Status: 1 - Issued, 2 - With error, 3 - Canceled , 4 - Created",
            "schema": {
[...]
